.form {
  padding: 20px;
  margin: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.formContainer div {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  background-color: #fff;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
