.homePageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animalTypeList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

@media (min-width: 1028px) {
  .animalTypeList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.filters {
  display: flex;
  flex-direction: column;
}

.filters > *:not(:last-child) {
  margin-bottom: 16px;
}
